streamlit
langchain
python-dotenv
tiktoken
faiss-cpu
protobuf
google-generativeai
langchain_experimental
langchain_google_genai
langchain_community
mysql-connector-python
pymysql
sentence-transformers
pandas
